.index-first {
  padding-top: calc(clamp(22px, 5.859vw,60px));
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-position: 0 -20px;
  padding-bottom: 20px;

  @include tablet {
    padding-top: 10px;
    padding-bottom: clamp(32px, 6.51vw, 50px);
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: clamp(39px, 8.073vw, 60px);

    @include tablet {
      grid-gap: clamp(39px, 7.813vw, 60px);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 783px;
    text-align: center;
    grid-gap: 20px;
    position: relative;
    z-index: 0 ;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    color: var(--color-a);

    @include tablet {
      max-width: 520px;
    }

    &::before {
      background: radial-gradient(43.46% 43.46% at 52.66% 43.46%, #004976 0%, rgba(0, 73, 118, 0) 100%);
      background-size: 100%;
      width: 100vw;
      position: absolute;
      top: -60%;
      bottom: -60%;
      opacity: .8;
      content: '';
      z-index: -1;
    }
  }

  &__title {
    opacity: .7;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    color: var(--color-a);

    @include tablet {
      font-size: clamp(14px, 2.734vw,21px);
    }
  }

  &__subtitle {
    background: linear-gradient(90deg, #BD9B60 8.19%, #C6A978 87.71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 150%;
    text-align: center;
    color: var(--color-a);

    @include tablet {
      font-size: clamp(14px, 2.734vw,21px);
    }
  }
}
