.method-second {
  padding:clamp(45px, 5.66vw, 60px) 0 clamp(45px, 6.132vw, 65px);

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 40px;

  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    border: 1px solid var(--bg-e);
    border-radius: 30px;
    position: relative;
    width: 100%;

    &::before {
      background-image: var(--gold-bounce);
      position: absolute;
      width: 58px;
      height: 29px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: '';
      left: 50%;
      top: -1px;
      transform: translateX(-50%);
    }

    &::after {
      background-image: var(--gold-bounce);
      position: absolute;
      width: 58px;
      height: 29px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: '';
      left: 50%;
      bottom: -1px;
      transform: translateX(-50%) scaleY(-1);
    }

    @include mobile {
      grid-template-columns: 100%;

      &::before,
      &::after {
        top: 50%;
        height: 58px;
        width: 29px;
        transform: translate(0 , -50%);
      }

      &::before {
        left: -1px;
        right: initial;
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29 30A30 30 0 0 1 0 0v58a30 30 0 0 1 29-28Z' fill='url(%23a)'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='14.5' y1='4.8' x2='14.5' y2='50.9' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BD9B60'/%3E%3Cstop offset='1' stop-color='%23C6A978'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      }

      &::after {
        right: -1px;
        left: initial;
        background-image: url("data:image/svg+xml,%3Csvg width='29' height='58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 30A30 30 0 0 0 29 0v58A30 30 0 0 0 0 30Z' fill='url(%23a)'/%3E%3Cdefs%3E%3ClinearGradient id='a' x1='14.5' y1='4.8' x2='14.5' y2='50.9' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BD9B60'/%3E%3Cstop offset='1' stop-color='%23C6A978'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      }
    }
  }

  &__title {
    width: 100%;
    min-height: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: clamp(22px, 2.604vw, 24px);
    line-height: 100%;
    text-align: center;
    color: #BD9B60;
    position: relative;

    &:first-child::before {
      position: absolute;
      content: '+';
      right: 0;
      transform: translateX(50%);
      font-family: var(--font-family);
      display: flex;
      font-style: normal;
      font-weight: 250;
      font-size: Min(11.719vw,90px);
      line-height: Min(11.719vw,90px);
      text-align: center;
      color: #BD9B60;
      // bottom: 0;

      @include mobile {
        right: 50%;
        bottom: 0;
        transform: translate(50%, 50%);
        font-size: 90px;
      }

    }

    @include mobile {
      min-height: 160px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    text-align: center;
    grid-gap: 32px;

    p {
      font-family: 'Beatrice';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__btn {
    background: linear-gradient(270deg, #BD9B60 8.19%, #C6A978 87.71%);
    border: 1px solid var(--bg-f);
    border-radius: 100px;
    max-width: 375px;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(16px, 2.778vw, 21px);

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    color: var(--color-d);

    transition: all .4s;
    &:hover {
      transform: translateY(-10%);
      text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.595);
      background: linear-gradient(270deg, #bd9b60 8.19%, #c6a978 87.71%);
      filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.25));
    }
  }
}
