.our-section {
  padding:43px 0 61px;

  --transform-image: Min(17.642vw, 187px);

  @include small-tablet {
    padding: 20px 0 38px;
  }

  &__box {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    @include small-tablet {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    @include mobile {
      grid-gap: 24px;
    }
  }

  &__article {
    padding: clamp(34px, 8.333vw, 64px) clamp(32px, 4.167vw, 90px) 46px;
    background: linear-gradient(90deg, #BD9B60 8.19%, #C6A978 87.71%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    grid-gap: 28px;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg width='29' height='58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29 28A30 30 0 0 0 0 58V0a30 30 0 0 0 29 28Z' fill='%23002C43'/%3E%3C/svg%3E");
      width: 29px;
      height: 60px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      content: '';
      left: -1px;
      top: clamp(34px, 8.333vw, 64px);
      position: absolute;

      @include mobile {
        width: 15px;
        height: 30px;
      }
    }

    @include small-tablet {
      padding: clamp(34px, 8.333vw, 64px) clamp(32px, 9.505vw, 73px);
    }

    @include mobile {
      padding-bottom: var(--image-height);
      padding-right: 28px;
      border-radius: 15px;
      grid-gap: 20px;
    }
  }

  &__image {
    width: fit-content;
    position: relative;
    margin-left: calc(var(--transform-image) * -1);
    display: flex;

    @include small-tablet {
      margin: -20% clamp(32px, 9.505vw, 73px) 0 0;;
    }

    @include mobile {
      width: clamp(228px, 33.854vw, 260px);
      margin: calc(var(--image-height) * -1) auto 0;
    }
  }

  &__sign {
    position: absolute;

    font-family: var(--font-family2);
    font-style: normal;
    font-weight: 400;
    font-size: Min(7.547vw, 80px);
    line-height: 100%;
    white-space: nowrap;
    bottom: 0;
    left: 0;
    transform: translateX(-53%);
    color:  var(--color-a);

    @include small-tablet {
      transform: translateX(-44%);
      bottom: 40px;
      font-size: clamp(64px, 10.417vw, 80px);
    }

    @include mobile {
      white-space: initial;
      transform: none;
      bottom: -55px;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: Min(4vw, 40px);
    line-height: 120%;
    color: var(--color-e);
    max-width: 70%;

    span {
      font-weight: 250;
    }

    @include small-tablet {
      max-width: 100%;
      font-size: clamp(24px, 5.208vw, 40px);
    }
  }

  &__text {
    max-width: 70%;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: var(--color-e);

    @include small-tablet {
      max-width: 100%;

    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    @include small-tablet {
      margin-top: 20px;
    }

    @include mobile {
      margin: 0;
    }
  }

  &__name {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 100%;
    color: var(--color-a);
  }

  &__value {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--color-a);
    opacity: 0.5;
  }
}
