<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LongeVity</title>

    <link rel="preload" href="fonts/Babylonica-Regular.woff2" as="font" crossorigin="anonymous">

    <link rel="preload" href="fonts/BeatriceHeadline-Thin.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/BeatriceHeadline-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/BeatriceHeadline-Regular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/BeatriceHeadline-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/BeatriceHeadline-SemiBold.woff2" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/main.js"></script>
</head>
