<header>
  <div class="container">
    <div class="header">
      <a href="index.html" class="logo">
        <svg width='170' height='62'>
          <use href='img/sprite/sprite.svg#logo-light'></use>
        </svg>
      </a>

      <div class="header__wrapper">
        <p class="header__title">
          Vitality
          <span>
            for life
          </span>
        </p>

        <button class="site-menu">
          <svg width='62' height='62'>
            <use href='img/sprite/sprite.svg#main-button-dark'></use>
          </svg>
        </button>

      </div>

      <div class="mobile-menu">
        <div class="mobile-menu__inner">
          <div class="mobile-menu__top">
            <a href="index.html">
              <svg width='137' height='50'>
                <use href='img/sprite/sprite.svg#logo-light'></use>
              </svg>
            </a>

            <button class="mobile-menu__close">
              <svg width='26' height='26'>
                <use href='img/sprite/sprite.svg#close'></use>
              </svg>
            </button>
          </div>

          <div class="mobile-menu__body">
            <div class="mobile-menu__coll">
              <div class="mobile-menu__image">
                  <img width='163' height='203' src='img/sprite/word.svg' alt='image'>
              </div>
              <ul class="social-list list-reset">
                <li class="social-list__item">
                  <a href="#" class="social-list__link">
                    <svg width='24' height='24'>
                      <use href='img/sprite/sprite.svg#in'></use>
                    </svg>
                  </a>
                </li>
                <li class="social-list__item">
                  <a href="#" class="social-list__link">
                    <svg width='24' height='24'>
                      <use href='img/sprite/sprite.svg#inst'></use>
                    </svg>
                  </a>
                </li>
                <li class="social-list__item">
                  <a href="#" class="social-list__link">
                    <svg width='24' height='24'>
                      <use href='img/sprite/sprite.svg#fb'></use>
                    </svg>
                  </a>
                </li>
                <li class="social-list__item">
                  <a href="#" class="social-list__link">
                    <svg width='24' height='24'>
                      <use href='img/sprite/sprite.svg#yt'></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <ul class="menu-nav-list" data-single='true' data-breakpoint='576' accordion-init>
              <li>
                  <a href="#" class='accordion__btn' data-id='1'>Longevity Centers</a>
                  <ul class='sub-menu' data-content='1'>
                    <li class="sub-menu-item">
                      <a href="#">
                        Poland
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="#">
                        Germany
                      </a>
                    </li>
                    <li class="sub-menu-item">
                      <a href="#">
                        Switzerland
                      </a>
                    </li>
                  </ul>
              </li>
              <li>
                <a href="method.html">Longevity Method</a>
              </li>
              <li>
                <a href="plan.html">Longevity Plan</a>
              </li>
              <li>
                <a href="#">Knowledge</a>
              </li>
              <li>
                <a href="#">About us</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            </ul>
            <div class="mobile-menu__coll">
              <ul class="lang-list">
                <li class="lang-list__item">
                  <a href="#">
                    Polski
                  </a>
                </li>
                <li class="lang-list__item">
                  <a href="#">
                    English
                  </a>
                </li>
                <li class="lang-list__item">
                  <a href="#">
                    Deutsch
                  </a>
                </li>
              </ul>
              <span class="mobile-menu__descr">
                Press enquires please contact us at
              </span>
              <a href="#" class="mobile-menu__link">
                hello@longevity-center.eu
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
