.footer-nav {

  @include small-tablet {
    width: 75%;
  }

  &__list {
    display: flex;
    align-items: center;
    grid-gap: 25px clamp(30px, 2.189vw, 55px);
    flex-wrap: wrap;
    justify-content: flex-end;

    @include small-tablet {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 24px 20px;
      justify-content: space-between;
    }

    @include mobile {
      grid-template-columns: 100%;
      grid-gap: 25px;
    }
  }

  &__item a {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--color-a);

    @include small-tablet {
      font-size: Min(1.823vw, 14px);
    }

    @include mobile {
      font-size: 16px;
    }
  }

}
