@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/index-first.scss";
@import "blocks/index-second.scss";
@import "blocks/index-third.scss";
@import "blocks/our-section.scss";
@import "blocks/index-frouth.scss";
@import "blocks/method-first.scss";
@import "blocks/method-second.scss";
@import "blocks/method-our.scss";
@import "blocks/method-entry.scss";
@import "blocks/plan-first.scss";
@import "blocks/plan-second.scss";
@import "blocks/plan-edge.scss";
@import "blocks/plan-method.scss";
@import "blocks/contact-section.scss";
