@import "components/main-top.scss";
@import "components/video-block.scss";
@import "components/point-list.scss";
@import "components/footer-nav.scss";
@import "components/social-list.scss";
@import "components/privacy-list.scss";
@import "components/edge-box.scss";
@import "components/card-list.scss";
@import "components/card.scss";
@import "components/brand-list.scss";
@import "components/custom-tabs.scss";
@import "components/team-list.scss";
@import "components/plan-list.scss";
@import "components/animate-list.scss";
@import "components/contact-form.scss";
@import "components/mobile-menu.scss";
