@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-style: $style;
    font-weight: #{$weight};
    font-family: "#{$font-family}";

    font-display: swap;
    src: url("../fonts/#{$url}.woff2") format("woff2"),
    url("../fonts/#{$url}.woff") format("woff");
  }
}

@include font-face("Babylonica", "Babylonica-Regular", 400, normal);

@include font-face("Beatrice", "Beatrice-Thin", 250, normal);
@include font-face("Beatrice", "Beatrice-Light", 300, normal);
@include font-face("Beatrice", "Beatrice-Regular", 400, normal);
@include font-face("Beatrice", "Beatrice-Medium", 500, normal);
@include font-face("Beatrice", "Beatrice-SemiBold", 600, normal);

