.site-menu {
  svg {
    fill: transparent;
    width: 100%;
    height: auto;
  }

  @include small-tablet {
    width: clamp(34px, 8.073vw, 62px);
    height: clamp(34px, 8.073vw, 62px);
  }
}

.start-button {
  margin-bottom: calc(calc(var(--start-button-heigth) / 2) * -1);
  background: linear-gradient(90deg, #bd9b60 8.19%, #c6a978 87.71%);
  border: 1px solid #e0c087;
  border-radius: 100px;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 2.051vw, 21px);
  line-height: 100%;
  color: var(--color-d);
  padding: 16px 40px;
  position: relative;
  z-index: 1;

  &::before {
    width: calc(Min(3.774vw, 40px));
    transform: translateX(-104%);
    left: 0;
    height: 100%;
    top: 0px;
    position: absolute;
    content: "";
    background-color: var(--body-bg);
    z-index: -1;

    @include mobile {
      left: -1px;
    }
  }

  &::after {
    width: calc(Min(3.774vw, 40px));
    transform: translateX(104%);
    right: 0;
    height: 100%;
    top: 0px;
    position: absolute;
    content: "";
    background-color: var(--body-bg);
    z-index: -1;

    @include mobile {
      right: -1px;
    }
  }

  @include mobile {
    max-width: 194px;
    padding: 12px 18px;
    font-size: 14px;
  }
}
