.site-menu {
  border-radius: 50%;
  position: relative;
  z-index: 10;
  svg {
    fill: transparent;
    width: 100%;
    height: auto;
  }

  @include small-tablet {
    width: clamp(34px, 8.073vw, 62px);
    height: clamp(34px, 8.073vw, 62px);
  }

  transition: all .4s;
  &:hover {
    transform: translateY(-10%);
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.595);
    box-shadow: 5px 5px 27px 5px rgba(0, 0, 0, 0.192);
  }
}

.start-button {
  margin-bottom: calc(calc(var(--start-button-heigth) / 2) * -1);
  background: linear-gradient(90deg, #bd9b60 8.19%, #c6a978 87.71%);
  border: 1px solid #e0c087;
  border-radius: 100px;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(16px, 2.051vw, 21px);
  line-height: 100%;
  color: var(--color-d);
  padding: 16px 40px;
  position: relative;
  z-index: 1;


  &::before {
    width: calc(Min(3.774vw, 40px));
    transform: translateX(-104%);
    left: 0;
    height: 100%;
    top: 0px;
    position: absolute;
    content: "";
    background-color: var(--body-bg);
    z-index: -1;

    @include mobile {
      left: -1px;
    }
  }

  &::after {
    width: calc(Min(3.774vw, 40px));
    transform: translateX(104%);
    right: 0;
    height: 100%;
    top: 0px;
    position: absolute;
    content: "";
    background-color: var(--body-bg);
    z-index: -1;

    @include mobile {
      right: -1px;
    }
  }

  @include mobile {
    max-width: 194px;
    padding: 12px 18px;
    font-size: 14px;
  }

  transition: all .2s;

  &:hover {
    transform: translateY(-10%);
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.595);
    background: linear-gradient(270deg, #bd9b60 8.19%, #c6a978 87.71%);
    // filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.25));
  }
}

.mail-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: var(--color-с);
}

.tell-link {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: var(--color-f);
}

.fixed-button {
  position: fixed;
  z-index: 10;
  border-radius: 50%;
  left: 43px;
  bottom: 43px;
  width: fit-content;
  transition: all 0.4s;

  @include small-tablet {
    left: 24px;
    bottom: 24px;
  }

  &:hover {
    .fixed-button__close {
      opacity: 1;
    }
  }

  &.hide {
    transform: translateX(-100vw);
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 5;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.4s;

    &:hover {
      transform: scale(1.1);
    }

    @include small-tablet {
      top: -2px;
      right: -2px;
    }
  }

  &__btn {
    width: 95px;
    height: 95px;
    border: 3px solid #bd9b60;
    background: radial-gradient(
      50.53% 50.53% at 50.53% 49.47%,
      #03314e 0%,
      #00496d 75%,
      #03314e 88.54%
    );
    border-radius: 50%;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);

    @include small-tablet {
      width: 76px;
      height: 76px;
      font-size: 10px;
    }
  }
}
