:root {
  --body-bg: #002c43;
  --body-bg-light: #F5F5F5;
  --body-font-size: 16px;
  --content-width: 1060px;
  --container-offset: 20px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --scrollbar-thumb: #0079C5;
  --scrollbar-thumb-hover: #0079C5;
  --scrollbar-track: #6A6A6A;
  --scrollbar-track-hover: #6A6A6A;

  --overlay-bg: rgba(0, 0, 0, 0.5);

  --font-family: "Beatrice", sans-serif; // var(--font-family);
  --font-family2: "Babylonica", sans-serif; // var(--font-family2);


  // text color
  --color-a: #ffffff; // var(--color-a);
  --color-b: #000000; // var(--color-b);
  --color-с: #BD9B60; // var(--color-с);
  --color-d: #F8F8F6; // var(--color-d);
  --color-e: #fffbfb; // var(--color-e);
  --color-f: #004976; // var(--color-f);
  --color-g: #c4c4c4; // var(--color-g);

  --color-h: #000D28; // var(--color-h);
  --color-j: #BDBDBD; // var(--color-j);
  --color-i: #F17B7B; // var(--color-i);

   // bg color
  --bg-a: #ffffff; // var(--bg-a);
  --bg-b: #000000; // var(--bg-b);
  --bg-c: #00496D; // var(--bg-c);
  --bg-d: #EAEAEA; // var(--bg-d);
  --bg-e: #C6A978; // var(--bg-e);
  --bg-f: #E0C087; // var(--bg-f);
  --bg-g: #004976; // var(--bg-g);
  --bg-h: #E5EDF1; // var(--bg-h);
  --bg-i: #EBEBEB; // var(--bg-i);

  --footer-bg: linear-gradient(237.1deg, #00496D 20%, #03314E 69.32%, #00496D 120.74%);




  @media (max-width: 768px){
    --container-offset: 20px;
  }

  @media (max-width: 576px){
    --container-offset: 25px;
  }

}
